{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
    About Me
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}


{% block content %}
    <h2>Project 'AI Portal'</h2>
    <div class="container">
        <h3>About Me:</h3>
        <p>Hi There, My Name is Ivan and I am Passionate about Programming and Artificial Intelligence, in particular Natural Language Processing. I created this website to try different things from Web Development with Django and test some Machine Learning Models in production.</p>
        <h3>About App:</h3>
        <h4>This Website is Built with:</h4>
        <ul>
            <li>Django 3.1.3</li>
            <li>CSS and a little Bootstrap4
            </li>
            <li>A little JQUERY</li>

        </ul>
        <h3>Used Technologies for ML</h3>
        <ul>
            <li>Scikit Learn</li>
            <li>OpenCV</li>
            <li>Scikit Image</li>
            <li>NLTK</li>
            <li>Pickle for Serializing Objects and Use them in Real Environment</li>

        </ul>

    </div>
{% endblock %}