body{
    background-color: black;
}

h2{
    margin-top: 20px;
    color: #fcf8cd;
    text-align: center;
}

div.wrapper_details{
    width: 45%;
    margin: 2% 7% 20% 30%;
}

div.current_detail{
    width: 100%;
    display: inline-block;
}

img.img_detailed{
    width: 500px;
    height: 500px;
    max-width: 75%;
    max-height: 75%;

}

p.by_author{
    font-size: small;
    color: white;
}

p{
    color: azure;
    word-wrap: break-word;
}

#details_pic{
    width: 25px;
    height: 25px;
}

#comments_section{
    border-top: 3px dashed wheat;
    width: 50%;
    margin: -10% auto 0;

}

h1{
    text-align: center;
    color: cyan;
    margin-bottom: 5%;
    margin-top: 1%;
}

#comment_form{
    /*border: 2px double darkcyan;*/
    display: inline-block;
    width: 100%;
    height: 20%;
}

label{
    color: wheat;
    margin-left: 5px;

}

h3{
    color: navajowhite;
}

h5{
    color: pink;
}
#comment_data{
    color: #a4d3c0;
    margin-top: -2px;
    font-size: 75%;
}

div.actual_comment{
    border-top: 1px dashed wheat;
}

#comment_title{
    text-align: center;
}

#special_button{
    margin-left: 45%;
}

pre{
    color: azure;
    white-space:pre-wrap;
}