{% load static %}
<div id="wrapper_footer">
    <footer class="custom-footer">
        <h3 id="footer_banner">AI Portal</h3>
        <div class="wrapper">
            <a href="{% url 'about_url' %}"><img id="img_footer" src="{% static 'pics/ai.jpeg' %}" width="60"
                                                 height="60"
                                                 alt=""></a>
        </div>
        <div class="contacts">
            <div class="social_media">
                <a href="https://github.com/ivvlko" target="_blank" class="fa fa-github"></a>
                <a href="https://www.linkedin.com/in/ivan-k-a225721b1/" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.facebook.com/iv.ko.7921" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/IvanKoev3" target="_blank" class="fa fa-twitter"></a>
            </div>
            <br>
        </div>


    </footer>


</div>