{% load static %}
<nav class="navbar navbar-default" id="nav">
        <div class="navbar-left">
            <a class="navbar-brand" href="{% url 'home_url' %}">
                <img src="{% static 'pics/Robot-1320568045013231116.png' %}" width="60" height="60"
                     alt="">
            </a>

            <a class="custom_nav_item" href="{% url 'home_url' %}">Home</a>
            <div class="dropdown-class">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    News
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'computer_vision_url' %}">Computer Vision and Image
                        Processing</a>
                    <a class="dropdown-item" href="{% url 'nlp_url' %}">Natural Language Processing</a>
                    <a class="dropdown-item" href="{% url 'robotics_url' %}">Robotics and Hardware</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'all_news_url' %}">All</a>
                </div>
            </div>
            <a class="custom_nav_item" href="{% url 'models_home_url' %}">AI Models</a>

            <form class="form-inline my-2 my-lg-0" action="{% url 'search_url' %}" method='get'>
                <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>

        <div class="navbar-right">
            {% if request.user.is_superuser or request.user.is_staff %}
                <a id="admin_button" class="custom_nav_item" href="{% url 'admin:index' %}">Admin</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="custom_nav_item" href="{% url 'profile_url' %}">Profile</a>
                <a id="logout_button" class="custom_nav_item" href="{% url 'logout_url' %}">Logout</a>
            {% else %}
                <a class="custom_nav_item" href="{% url 'register_url' %}">Register</a>
                <a class="custom_nav_item" href="{% url 'login_url' %}">Login</a>
            {% endif %}
        </div>
</nav>
